.rotor__group {
  position: relative;
  float: left;
  margin-right: 3rem;
}
.rotor__group__label {
  color: var(--color-grayish-blue);
  font-size: 1.3rem;
  letter-spacing: 0.7rem;
  text-transform: uppercase;
  position: absolute;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
}

.rotor__group:last-child {
  margin-right: 0;
}

/* move digits closer*/
.rotor__group .rotor:first-child {
  text-align: right;
}
.rotor__group .rotor:last-of-type {
  text-align: left;
  margin-bottom: 3rem;
}
/* end move digits closer*/

/* TODO: fix below not applying styles */
/* add border-radius */
.rotor__group .rotor:first-child .rotor__bottom {
  border-bottom-left-radius: 4px;
}
.rotor__group .rotor:last-of-type .rotor__bottom {
  border-bottom-right-radius: 4px;
}
.rotor__group .rotor:first-child .rotor__top {
  border-top-left-radius: 4px;
}
.rotor__group .rotor:last-of-type .rotor__top {
  border-top-right-radius: 4px;
}
.rotor__group .rotor:first-child .rotor__leaf__front {
  border-top-left-radius: 4px;
}
.rotor__group .rotor:last-of-type .rotor__leaf__front {
  border-top-right-radius: 4px;
}
